@media screen and (max-width: 768px) {
    .wrapper {
        padding: 2rem 40px;
    }
}

@media screen and (max-width: 920px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar__navigation {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: ease-in 0.5s;
    }

    .navbar__navigation.active {
        opacity: 1;
    }

    .navbar__navigation ul, .navbar__buttons {
        display: block;
    }

    .navbar button {
        display: block;
    }

}

@media screen and (min-width: 900px) {
    .navbar__navigation {
        justify-content: space-between;
        margin-left: 3rem;
    }
}

.navbar {    
    top: 0;
    z-index: 10;
    display: flex;
    position: sticky;
    justify-content: space-between;
}

.navbar a {
    color: var(--white);
    font-weight: 500;
    font-family: var(--font-family-secondary);
}

.navbar .active {
    font-weight: 700;
}

.navbar__navigation {
    flex: 1;
}

.navbar__buttons .btn--secondary {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: 700;
    color: var(--primary-color);
}


    